html {

    background-color: rgb(0, 0, 0);
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-feature-settings: normal;
    font-variation-settings: normal;

}



main {
    margin-top: 10%;
}

#startScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9999;
    display: block;
    opacity: 1;
    transition: opacity 5s ease; 
}


.videos {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
    object-fit: cover;
    z-index: -1;
}

.videos video {
    min-width: 100%;
    min-height: 100%;
    filter: blur(7px);
    background-color: rgba(0, 0, 255, 0);

}


.profile {
    display: none;
    text-align: center;
    margin-top: 50px;
    background-color: rgba(0, 0, 255, 0);

}

.profile img {
    border-radius: 50%;
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
    background-color: rgba(0, 0, 255, 0);
}

.profile h1 {
    color: rgb(255, 254, 254);
    background-color: rgba(0, 0, 255, 0);

}

.social-links {
    display: none;

    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: rgba(0, 0, 255, 0);

}

.social-links li {
    margin: 0 10px;
    list-style-type: none;
    position: relative;
    text-align: center;
    background-color: rgba(0, 0, 255, 0);

}

.social-links a {
    border-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    border-radius: 9999px;
    background-color: rgba(0, 0, 0, 0);
    transition: filter 0.3s;
    position: relative;
    display: inline-block;

}

.social-links a:hover {
    filter: brightness(50%);

}

.social-links svg {
    fill: rgb(142, 142, 142);
    width: 28px;
    height: 28px;
}

.social-links .font-semibold {

    color: rgb(142, 142, 142);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s, bottom 0.5s;

}

.social-links li:hover .font-semibold {
    opacity: 1;
    bottom: -40px;
}